<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
        <h6 class="navbar-text">
        Don't Contact me at 
        <a class="defaultLink" href="mailto:william.noble1@ontariotechu.net">william.noble1@ontariotechu.net</a>&nbsp;
        &copy; William Noble 2024
        </h6>
    </div>
</nav>
</body>
</html>