<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="/Content/full.css" rel="stylesheet" type="text/css" media="only screen and (min-width:960px)">
    <link href="/Content/tablet.css" rel="stylesheet" type="text/css" media="only screen and (min-width:481px) and (max-width:959px)">
    <link href="/Content/phone.css" rel="stylesheet" type="text/css" media="only screen and (max-width:480px)">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css" />
</head>
<body id="body">