<div>
    <article>
        <h2 class="sectionTitle">Introduction</h2>
        <p class="sectionContent">Hello and welcome to my website. Below is a brief introduction to the content located on each page. I am sorry in advance, good luck.</p>
    </article>
    <hr class="sectionDivider">
    <article>
        <a class="defaultLink" href="/about"><h2 class="sectionTitle">About Me Page</h2></a>
        <p class="sectionContent">On this page I provide an overview of who I am and how I ended up in this mess. The about me page is full of interesting information such as the fact that I am human.</p>
    </article>
    <hr class="sectionDivider">
    <article>
        <a class="defaultLink" href="/projects"><h2 class="sectionTitle">Projects Page</h2></a>
        <p class="sectionContent">Here you can find an interactive list of many of the projects I have had the opportunity to work on. The code is barely comprehensible and poorly optimized, as such in my dedication to not melt CPUs, I will not be providing the source code for any projects.</p>
    </article>
    <hr class="sectionDivider">
    <article>
        <a class="defaultLink" href="/contact"><h2 class="sectionTitle">Contact Me Page</h2></a>
        <p class="sectionContent">This is where I encourage users to contact me. If users ever do contact me, I will cry.</p>
    </article>
</div>